# Heading 1
## Heading 2
### Heading 3

**bold text**
*italic text*

- Bullet point
1. Numbered list

[Link text](https://example.com)

![Image](image.png)

`inline code`

$$E = mc^2$$ (for LaTeX math)

In [11]:
# This is an example of code with multiple
# comments, including this one which
# spans multiple lines
print("Hello, Andrew!")
# Follow up with an additional print command
print("How is your day going?")

Hello, Andrew!
How is your day going?

In [ ]:
print("Hello, Andrew!)

In [17]:
print("¯\\_(ツ)_/¯")

¯\_(ツ)_/¯

In [2]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

In [12]:
print("Hissss")

Hissss

In [5]:
print((75 - 32) * 5 / 9)

23.88888888888889

In [6]:
# Write code to convert 6 feet to meters
print("Convert 6 feet to meters")
feet = 6
meters = feet * 0.3048
print(meters)

Convert 6 feet to meters
1.8288000000000002

In [9]:
print(f"The temperature 75F in degrees celsius is {(75 - 32) * 5 / 9}C")

The temperature 75F in degrees celsius is 23.88888888888889C

In [10]:
print(f"Isabel is {28/7} dog years old.")

Isabel is 4.0 dog years old.

In [11]:
print(f"Isabel's dog age is {int(28/7)}.")

Isabel's dog age is 4.

In [13]:
print(f"Isabel is {28/7:.4f} dog years old.")

Isabel is 4.0000 dog years old.

In [16]:
print(f"""
    Most countries use the metric system for recipe measurement, 
    but American bakers use a different system. For example, they use 
    fluid ounces to measure liquids instead of milliliters (ml).
    
    So you need to convert recipe units to your local measuring system!
    
    For example, 8 fluid ounces of milk is {8 * 29.5735:.2f} ml.
    And 100ml of water is {100 / 29.5735:.2f} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.59 ml.
    And 100ml of water is 3.38 fluid ounces.

In [25]:
# Modify the code to print your age
print(f"I am {1/2 } years old.")

I am 0.5 years old.

In [19]:
print(f"There are {365/7} weeks in a year")

There are 52.142857142857146 weeks in a year

In [29]:
print(f"The area of a square with side 5 cm is {5*5} cm squared.")

The area of a square with side 5 cm is 25 cm squared.

In [31]:
age=123

In [32]:
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903:.1f} meters squared! {age}")

The house was a good size: 1200 square feet, or 111.5 meters squared! 123

In [33]:
age = 5

In [36]:
print(f"my age is {age}")

my age is 5

In [42]:
name = "Otto"
gnome_height = 12.7  # in centimeters
gnome_weight = 1.5   # in kilograms      
print(f"Name: {name}")
print(f"Gnome height: {gnome_height}")

Name: Otto
Gnome height: 12.7

In [44]:
score = 0 # now score is 0
score += 5 # now score is 5
score *= 2 # now score is 10
print(score)

10

In [45]:
print(f"Otto's age in dog years is {49 / 7}")

Otto's age in dog years is 7.0

In [46]:
print(f"""Otto's dog age is {49/7}. So a dog that's about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [49]:
dog_age = 49 / 7

print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [50]:
print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [52]:
# Create a variable called 'my_name' and assign it the value of your name as a string.
# Then print out a greeting using the variable, like "Hello, Andrew!"
my_name = "Seri"
print(my_name)

Seri

In [56]:
# Enter your favorite number below and store it in a variable called 'fav_num'. 
# Print out a message telling you what your favorite number plus 10 is.
fav_num = 5
print(f"Your favorite number plus 10 is {fav_num  + 10}.")

Your favorite number plus 10 is 15.

In [57]:
# Create two variables, 'countries_visited' and 'countries_to_visit' and assign them the number of
# countries you've been to and the number of countries you hope to visit. Then complete the print statement.

countries_visited = 3
countries_to_visit = 10

print(f"""I have visited {countries_visited} countries. I plan to visit {countries_to_visit} more countries, 
      and when I'm done I will have visited {countries_to_visit + countries_visited} countries.""")

I have visited 3 countries. I plan to visit 10 more countries,
      and when I'm done I will have visited 13 countries.